/* Global Styles */

html, body {
  height: 100%;
  margin-top: 20px;
  background-color: rgb(226, 235, 247);
  margin-left:4%; 
  margin-right:4%;
  margin-bottom: 40px;
}

.map-panel {
  height: 600px; 
}

#mapid {
  position: relative;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 8px;
  height: 600px; 
  width: 100%;  
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
}

h4 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #8ca0cc;
  color: #7485ad;
}

.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #7485ad;
  border-color: #7485ad;
}




